name: Build N60 PRO
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Build Script
        run: bash .github/scripts/setup_firmware.sh
      - name: Upload Firmware Artifact
        uses: actions/upload-artifact@v4
        with:
          name: n60pro-firmware
          path: firmware_output/
