name: Build N60 Pro Once

on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Build
      run: |
        git clone https://github.com/padavanonly/immortalwrt-mt798x-24.10 openwrt
        cd openwrt
        curl -L https://raw.githubusercontent.com/padavanonly/immortalwrt-mt798x-6.6/2410/defconfig/nx60pro-ipailna-high-power.config -o .config
        sed -i '/CONFIG_TARGET_DEVICE_mediatek_mt7986_DEVICE_/d' .config
        echo "CONFIG_TARGET_DEVICE_mediatek_mt7986_DEVICE_glinet_gl-mt6000=y" >> .config
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        make defconfig
        make download -j$(nproc)
        make -j$(($(nproc)+1))
        
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: openwrt/bin/targets/mediatek/mt7986/*.bin
