name: Build OpenWrt
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup
      run: sudo apt-get update && sudo apt-get install -y build-essential git wget
    - name: Clone
      run: |
        git clone https://github.com/padavanonly/immortalwrt-mt798x-24.10 openwrt
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a
    - name: Configure
      run: |
        cd openwrt
        wget https://github.com/padavanonly/immortalwrt-mt798x-6.6/blob/2410/defconfig/nx60pro-ipailna-high-power.config -O .config
        echo "CONFIG_PACKAGE_luci-theme-argon=y" >> .config
        echo "CONFIG_PACKAGE_luci-app-openclash=y" >> .config
        echo "CONFIG_PACKAGE_luci-app-istore=y" >> .config
        make defconfig
    - name: Build
      run: |
        cd openwrt
        make download
        make -j2
    - name: Save artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: openwrt/bin/targets/
